# Python cache files
__pycache__/
*.pyc

# Jupyter checkpoint files
.ipynb_checkpoints/
*-checkpoint.ipynb

# Virtual environments
venv/
env/
.venv/

# OS junk files
.DS_Store
Thumbs.db

# Prophet/cmdstanpy build artifacts
cmdstan/
*.csv.bak
